/* Geral */

body *{
    font-family: 'Lato', sans-serif;
}

.footer{
  padding-bottom: 20px;
}

*:focus {
  outline: none;
}

a:hover {
	text-decoration: underline;
}

.titulo{
    font-family: 'Laila', serif;
    font-size: 60px;
    font-weight: bold;
    color: #20986a;
}

.titulo-interno{
  font-family: 'Laila', serif;
  font-size: 48px;
  font-weight: bold;
  color: #20986a;
}


.header{
    width: 100%;
    padding: 18px 0;
    background-color: #8fcbb2;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container{
    width: 960px;
    margin: 0 auto;
}

.menu_principal{
    text-align: right;
}

.menu_principal_lista li{
    margin-top: 33px;
    margin-left: 15px;
}

.menu_principal_lista li a{
    color: #fff;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

ul li{
    display: inline-block;
}

.btn{
    width: 160px;
    height: 50px;
    margin: 0 auto;
    color: #fff;
    font-size: 18px;
    background-color: #20986a;
    text-align: center;
    padding-top: 13px;
    cursor: pointer;
}

.copyright{
    font-size: 14px;
    line-height: 20px;
    color: #8fcbb2;
}

/* Tabs Jquery */

ul.tabs{
	margin: 0px;
	padding: 0px;
  list-style: none;
  position: relative;
  top: 2px;
}

ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #e0f0e6;
  color: #222;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top: 2px solid #20986a;
  border-left: 2px solid #20986a;
  border-right: 2px solid #20986a;
}

.jogos_resultados ul.tabs li{
  font-size: 14px;
}

.tab-content{
	display: none;
	background: #e0f0e6;;
  padding: 20px 10px;
  border-top: 2px solid #20986a;
}

/* Tabelas */

table{
  width: 100%;
}

.tab-content.current{
	display: inherit;
}

/* Animação */

/* Links */

a,a:visited,a:hover,a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
  transition:0.5s color ease;
	text-decoration:none;
	color:#81b3d2;
	font-size:2.5em;
}
a:hover{
	color:#fff;
}
a.before:before,a.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}
a.before:before{
  top:-0.5em;
}
a.after:after{
  bottom:-0.5em;
}
a.before:before,a.after:after{
  height:2px;
  height:2px;
  width:0;
  background:#fff;
}
a.first:after{
  left:0;
}
a.second:after{
  right:0;
}
a.third:after,a.sixth:before,a.sixth:after{
  left:50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
}
a.before:hover:before,a.after:hover:after{
  width:100%;
}

/* Apresentação down */

.js .jogar_area_jogos .titulo,.js .form_jogar, 
.js .jogar_area_jogos .btn-feito, 
.js .arte img, .js .jogos_resultados .titulo-interno,
.js .jogos_resultados .container-tabs, .js .jogos_detalhes 
.titulo-interno, .js .jogos_detalhes .concurso, 
.js .jogos_detalhes .bolas-sorte{
  opacity: 0;
}

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}

